<div class="header">
    <div>
        <span class="giva-title">GIVA</span>
    </div>
    <mat-tab-group
            >
                <mat-tab label="Pendants"> </mat-tab>
                <mat-tab label="Earrings"> </mat-tab>
                <mat-tab label="Rings"> </mat-tab>
                <mat-tab label="Bracelets"> </mat-tab>
                <mat-tab label="Bestsellers"> </mat-tab>
                <mat-tab label="Just Arrived"> </mat-tab>
    </mat-tab-group> 
    <div class="header-icons-container">
        <a>
            <mat-icon>search</mat-icon>
        </a>
        <a></a>
        <a></a>
    </div> 
</div>
